<div class="contact-form">
  <div class="option">
    <div class="icon"><mat-icon>phone</mat-icon></div>
    <button mat-button mat-dialog-close [cdkCopyToClipboard]="phone1">
      <h3>89856 44456 ,</h3>
    </button>
    <button mat-button mat-dialog-close [cdkCopyToClipboard]="phone2">
      <h3>89854 89856</h3>
    </button>
  </div>
  <div class="option">
    <div class="icon whatsapp">
      <img src="assets/ico/wh.png" />
    </div>
    <button mat-button mat-dialog-close [cdkCopyToClipboard]="whatsapp">
      <h3>89856 44456</h3>
    </button>
  </div>
  <div class="option">
    <div class="icon">
      <mat-icon>mail</mat-icon>
    </div>
    <button mat-button mat-dialog-close [cdkCopyToClipboard]="mail">
      <h3>slkenterprises456@gmail.com</h3>
    </button>
  </div>
</div>
