<div class="contact">
  <div class="detail">
    <mat-icon>phone</mat-icon>
    <button
      mat-button
      class="bt"
      [cdkCopyToClipboard]="phone1"
      mat-dialog-close
    >
      <h2>89856 44456 ,</h2>
    </button>
    <button
      mat-button
      class="bt"
      [cdkCopyToClipboard]="phone2"
      mat-dialog-close
    >
      <h2>89854 89856</h2>
    </button>
  </div>
  <div class="detail" style="display: flex; align-items: center;">
    <img class="wh" src="assets/ico/wh.png" />
    <button
      mat-button
      class="bt"
      [cdkCopyToClipboard]="whatsapp"
      mat-dialog-close
    >
      <h2>89856 44456</h2>
    </button>
  </div>
  <div class="detail">
    <mat-icon>email</mat-icon>
    <button mat-button class="bt" [cdkCopyToClipboard]="mail" mat-dialog-close>
      <h2>slkenterprises456@gmail.com</h2>
    </button>
  </div>
</div>
