.contact-form {
  .option {
    display: flex;
    align-items: center;
    font-size: 1em;
    button {
      margin: 10px;
      padding: 10px;
    }
    .icon {
      padding: 10px;
    }

    .whatsapp {
      img {
        width: 1.5em;
      }
    }
  }
}
