<div class="services-tab">
  <div class="main-title">
    <h1>Services</h1>
  </div>

  <div class="services-options">
    <div id="dth" class="option" (click)="dth()">
      <img src="{{ icons.dth }}" />
      <div class="title"><h2>DTH</h2></div>
    </div>
    <div id="cctv" class="option">
      <img src="{{ icons.cctv }}" style="width: 100px;" />

      <div class="title"><h2>CCTV</h2></div>
    </div>
    <div id="net" class="option" (click)="open()">
      <img src="{{ icons.broadband }}" />
      <div class="title"><h2>Broadband</h2></div>
    </div>
    <div id="fiber" class="option">
      <img src="{{ icons.opticalfiber }}" />
      <div class="title"><h2>Optical Fiber</h2></div>
    </div>
  </div>
</div>
