.example-tree-invisible {
  display: none;
}

.tree-node {
  display: block;
  font-size: 1.2em;
}

.tree-node .tree-node {
  padding-left: 40px;
}

.node {
  margin: 10px;

  mat-icon {
    font-size: 10px;
  }

  &:hover {
    color: #f3151a;
  }
}
