<div class="contact">
  <div class="details">
    <div class="sub">
      <h2 class="title">Phone :</h2>
      <h2 class="sub-title phone">
        <div>89856 44456</div>
        <div class="comma">,</div>
        <div>89854 89856</div>
      </h2>
    </div>
    <div class="sub other">
      <div class="email">
        <h2 class="title">E-mail :</h2>
        <h2 class="sub-title">slkenterprises456@gmail.com</h2>
      </div>
      <div style="display: flex;" class="fix">
        <h2 class="title">Website :</h2>
        <h2 class="sub-title">www.slkenterprises.in</h2>
      </div>
    </div>
  </div>
  <div class="last-item">
    <h5>
      <a href="https://slkenterprises.in"></a>SLK Enterprises, Visakhapatnam, AP
    </h5>
  </div>
</div>
