.contact {
  margin-top: 50px;

  .details {
    background-color: black;
    color: rgba(0, 0, 0, 0.938);
    padding: 20px;
    padding-left: 50px;
    color: white;
    display: flex;
    justify-content: space-around;

    .other {
      flex-direction: column;
      align-items: start;
    }

    .sub {
      display: flex;
      text-align: center;
      margin: 10px;

      .fix {
        margin: 10px;
        margin-left: -21px;
      }

      .email {
        display: flex;
      }

      .title {
        font-size: 25px;
        padding-right: 5px;
        color: #f3151a;
      }

      .phone {
        font-size: 35px;

        .comma {
          display: none;
        }

        div {
          margin-bottom: 10px;
        }
      }

      .sub-title {
        font-size: 25px;
        color: rgba(245, 245, 245, 0.767);
      }
    }
  }

  .last-item {
    text-align: center;
    background-color: #000000;
    color: rgba(245, 245, 245, 0.767);
    padding: 10px;

    a {
      color: #f3151a;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 100%;

    .details {
      flex-direction: column;

      .sub {
        margin: 0px;

        .fix {
          // display: none !important;
          // margin-top: 28px;
          margin-left: -13px;
          margin-bottom: 0px;
        }

        .title {
          font-size: 15px;
        }

        .phone {
          display: flex;

          .comma {
            display: block;
            margin-right: 5px;
          }
        }

        .sub-title {
          font-size: 15px;
        }
      }
    }
  }
}
