.nav-bar {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  box-shadow: 2px 2px 10px rgb(189, 189, 189);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .logo {
    img {
      max-height: 50px;
    }
    button {
      display: none;
    }
  }

  .options {
    display: flex;
    align-items: center;
    .option {
      color: rgba(245, 245, 245, 0.767);
      margin-left: 10px;
      &:hover {
        color: white;
      }
    }
  }
}

.search {
  border: 3px solid rgba(245, 245, 245, 0.767);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  &:hover {
    border-color: white;
  }
  input {
    background-color: transparent;
    border: 0;
    color: white;
  }
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
  .nav-bar {
    .search {
      display: flex;
      align-items: center;
      color: white;
    }
    .logo {
      display: flex;
      align-items: center;
      button {
        display: block;
        mat-icon {
          color: white;
          vertical-align: middle;
        }
      }
    }

    .options {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      position: fixed;
      flex-direction: column;
      justify-content: start;
      z-index: 5;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      // background-color: rgb(142, 142, 236);
      // box-shadow: 2px 2px 10px rgb(142, 142, 236, 0.5);
      background-color: #ee2e31;
      box-shadow: 2px 2px 10px #ee2e3179;

      color: black;

      .option {
        width: 70%;
        padding: 10px;
        border-radius: 10px;
        margin-left: 10%;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: start;
        color: white;
        font-size: 1em;
      }

      .back {
        display: flex;
        margin-left: -50%;
        padding: 5px;
        align-items: center;
        margin-top: 20px;
        width: fit-content;
        mat-icon {
          vertical-align: middle;
        }
      }

      .search {
        display: none;
      }
    }
  }
}
