<div class="nav-bar" id="nav-bar">
  <div class="logo">
    <button mat-icon-button (click)="open('menu')">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="{{ icons.logo }}" alt="logo" />
  </div>
  <div class="mobile search">
    <input [(ngModel)]="searchKey" (keyup.enter)="search()" />
    <mat-icon>search</mat-icon>
  </div>
  <div class="options" [@openClose]="ismenu ? 'open' : 'closed'">
    <button mat-icon-button class="mobile option back" (click)="open('menu')">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <button
      mat-button
      class="option home"
      style="color: rgb(235, 49, 49);"
      (click)="open('Home')"
    >
      <h3>Home</h3>
    </button>
    <button
      mat-button
      *ngFor="let item of menu"
      class="option"
      (click)="open(item)"
    >
      <h3>{{ item }}</h3>
    </button>
    <div class="option search">
      <input [(ngModel)]="searchKey" (keyup.enter)="search()" />
      <mat-icon>search</mat-icon>
    </div>
  </div>
</div>
