.carousal {
  width: 95%;
  height: 25em;
  margin: 0 auto;
  position: relative;
  overflow: hidden;


  .carousal_button {
    position: absolute;
    color: grey;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
  }


  .right {
    left: 94.4%;
  }

  .carousal_track_container {
    margin-top: 40px;
    height: 100%;


    .carousal_track {
      list-style: none;
      padding: 0;
      margin: 0;

      .previous {
        left: -100%;
        display: block !important;
      }

      .current {
        left: 0;
        display: block !important;
      }

      .next {
        left: 100%;
        display: block !important;
      }

      .carousal_image {
        width: 100%;
        position: absolute;
        object-fit: cover;
        display: none;
        transition: all 750ms ease;

        img {
          width: 100%;
          border-radius: 20px;

        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .carousal {
    height: 196px;

    .carousal_button {
      top: 53%;
      padding: 0;
      min-width: auto;
    }

    .right {
      left: 93.8%;
    }

    .carousal_track_container {
      margin-top: 20px;

      img {
        height: 167px;
      }
    }

  }
}
