.carousal {
  margin: auto;
  overflow: hidden;
  display: flex;
  margin-top: 20px;
  width: 95vw;
  height: 40vh;

  .carousal-image {
    transition: transform 100ms ease-in;

    img {
      width: 95vw;
      height: 40vh;
    }
  }
}

@media only screen and (max-width: 600px) {
  .carousal {
    width: 95vw;
    height: 20vh;
    .carousal-image {
      img {
        width: 95vw;
        height: 20vh;
      }
    }
  }
}
