<div class="carousal" (mouseenter)="enter()" (mouseleave)="leave()">
  <button class="carousal_button left" (click)="reverseSlide()" mat-button>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <div class="carousal_track_container">
    <ul class="carousal_track">
      <li class="carousal_image" *ngFor="let trend of links">
        <img src="{{ trend.link }}" />
      </li>
    </ul>
  </div>
  <button class="carousal_button right" (click)="moveSlide()" mat-button>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
