.carousal {
  margin: auto;
  overflow: hidden;
  display: flex;
  margin-top: 30px;
  max-width: 95vw;
  height: auto;

  .carousal-image {
    transition: transform 100ms ease-in;

    img {
      max-width: 95vw;
      height: auto;
      border-radius: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .carousal {
    width: 95vw;
    height: 20vh;
    .carousal-image {
      img {
        max-width: 95vw;
        height: auto;
      }
    }
  }
}
