html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

// @import url("assets/fonts/main.ttf");

* {
  user-select: none;
}
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.bottom-sheet {
  min-width: 100vw !important;
}

.mat-content {
  align-items: center;
}

.mat-expansion-panel {
  flex-direction: column;
}

.mat-dialog-container {
  border-radius: 20px !important;
  overflow: scroll !important;
  max-height: 80vh !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
