html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

// html,
// body {
//   background-color: #f6f8fe;
// }

* {
  user-select: none;
}
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.bottom-sheet {
  min-width: 100vw !important;
}

.mat-form-field-infix,
.mat-form-field-wrapper {
  padding: 0px !important;
}

.mat-form-field-prefix {
  top: 9px !important;
}
