<div class="dth-choice">
  <div class="choice" matRipple mat-dialog-close (click)="nav('dth-provider')">
    <img
      style="
        margin-right: 10px;
        width: 80px;
        transform: translateX(-15px);
        height: 4em;
      "
      src="{{ icons.dthnew }}"
    />
    <h2 style="transform: translateX(-30px);">New Connection</h2>
  </div>
  <div class="choice" matRipple mat-dialog-close>
    <img src="{{ icons.dthhths }}" />
    <h2>House to House Lifting</h2>
  </div>
  <div class="choice" matRipple mat-dialog-close>
    <img src="{{ icons.complaints }}" />
    <h2>Complaints</h2>
  </div>
</div>
